@import '~vars'
.slider-small__wrapper
  display flex
  justify-content center
  .slider-small-ul
    heigth 520px
    width 60%
    display flex
    overflow hidden
    .slider-small-item-li
      height 375px
      width 255px
      list-style none
