{
  "extends" : "react-app",
  "globals" : {
    "fetch": true,
    "__DEV__": true
  },
  "rules" : {
    "no-throw-literal" : [0],
    "no-extend-native" : [0],
    "react/style-prop-object" : [0],
    "radix": ["error", "as-needed"]
  }
}