@import '~vars'

.mobile-side-menu
  .side-menu
    display flex
    min-height auto


    .menu
      display block
      width 100%
      min-height auto
      height max-content
      background-color $menu-bg
      list-style-type none
      margin 0
      padding 0
      overflow auto
      &::-webkit-scrollbar
        display: none;
      a
        display block
        width 100%
      .menu-item.active
        background-color $menu-bg-active
        p
          color $menu-color
          margin 0
        .menu-section-img
          filter none
        .sub-menu
          display block

      .menu-item
        width inherit
        height auto
        display flex
        flex-direction column
        align-items center
        justify-content flex-start
        transition background-color ease-in-out 0.3s
        &.active
          .arrow
            transform rotate(180deg)
        &:hover
          background-color $menu-bg-active
          cursor pointer
          p
            color $menu-color
            margin 0
          .menu-section-img
            filter none
        .menu-item-container
          width 100%
          height 40px
          display flex
          flex-direction row
          align-items center
          position relative
          justify-content flex-start
          background-color #0f2b54
          border  1px solid $menu-divider
          box-sizing border-box
        .menu-section-img
          height 25px
          width 25px
          fill $menu-color
          transition fill 0.3s ease-in-out
          margin 0 15px 0 25px
        .arrow
          height 10px
          opacity 0.5
          position absolute
          right 10px
          top 15px
          transition color 0.3s ease-in-out
          margin 0
    .sub-menu
      display none
      list-style-type none
      width 100%
      min-height 100%
      background-color $menu-bg-active
      overflow auto
      &::-webkit-scrollbar
        display: none;
      li:hover
        background #111e3e
        cursor pointer
      .sub-menu-item.active
        border 0
        .sub-arrow
          transform rotate(180deg)
        .sub-x2-menu-items
          display block
        .menu-sub-section-text
          background #111e3e
          color #ffa14d
      .sub-menu-item
        display flex
        flex-direction column
        justify-content  center
        position relative
        .sub-arrow
          height 10px
          opacity 0.5
          position absolute
          right 10px
          top 15px
          transition color 0.3s ease-in-out
          margin 0
        .menu-sub-section-text
          padding 12px 0
          color #ffa14d !important
          text-align left
          padding-left 80px
          background #111e3e
        .menu-sub-section-text:hover
          color #ffa14d
        .sub-x2-menu-items
          display none
          list-style-type none
          width 100%
          background #111e3e
          .sub-x2-menu-item.active
            background #111e3e
          .sub-x2-menu-item
            height 40px
            border 0

            & > a
              display flex
              align-items center
              width 100%
              height 100%
            //&:last-child
              //border-bottom 1px solid $menu-divider
            .sub-x2-menu-text
              color #ffa14d
              text-align left
              margin-left 110px




