@import '~vars'

.rules-page-content
  overflow-y auto
  padding-top 4em
  padding-right 5%
  +mobile()
    overflow-y hidden
    padding-right 0
  ul
    list-style none
    li
      margin 10px 0
      padding 0 0
      position relative
      b
        color $menu-color