@import '~vars'

.about-block-wrapper
  text-align left
  padding-right 5%
  padding-left 40px
  +tablet()
    margin 0 auto
    padding 0
  .about-description
    margin-top 30px
    font-family $Segoe
    font-size 16px
    max-width 370px
    +mobile()
      font-size 14px
  p
    margin 1em 0
