@import '~vars'

.login-page-container
  width 100%
  background-image url('../../images/main-page/fon.jpg');
  background-repeat no-repeat
  background-position center
  background-size cover
  height: 100%
  overflow auto
  position absolute
  top 0
  padding-top 70px
  box-sizing border-box
  display flex
  align-items center
  justify-content center
  +mobile()
    padding-top 45px
  .login-form
    width 350px
    text-align left
    display block
    +mobile()
      margin 0 16px
      width: auto;
    form
      position relative
      & > .validation-message
        font-size 14px
        color $error-color
        position: absolute;
        top:0
      & > div
        margin-bottom 40px !important
        margin-top 0 !important
        width 100% !important
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button
          -webkit-appearance: none;
          margin: 0;
        input
          caret-color white
          color white
        & > div::before
          border-bottom: 1px solid rgba(255, 255, 255, 0.58) !important
        & > label
          color white !important
        & > div:after
          border-bottom: 2px solid white !important
        .MuiInput-underline-81:hover:not(.MuiInput-disabled-80):not(.MuiInput-focused-79):not(.MuiInput-error-82):before
          border-bottom: 1px solid white !important
    .title-text
      color white
      font-size 32px
      font-family $Segoe
      margin-bottom 40px
      +mobile()
        font-size 28px
    .button-enter
      margin 40px 0
      width 220px
      height 35px
      display flex
      align-items center
      justify-content center
      border-radius 50px
      border 1px solid white
      text-transform uppercase
      font-weight 600
      background-color white
      color $menu-color
      font-size 14px
      transition color ease-in-out 0.3s, background-color ease-in-out 0.3s
      &:hover
        background-color white
        color $menu-color
        cursor pointer
      &:disabled
        color #d2d1d1
        background-color rgba(239, 239, 239, 0.99)
        &:hover
          pointer-events none
.login-api-error-message
  height 14px
  font-size 14px
  color $error-color